*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

nav{
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 30px;
    border-bottom: 2px solid rgb(87, 87, 87);
}

nav a{
    margin-left: 50px;
    padding: 10px 5px;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
    font-size: 18px;
}

nav a:hover{
    border-bottom: 2px solid rgb(83, 54, 54);
    transition-duration: .5s;
}

.container{
    padding-top: 50px;
    max-width: 1440px;
    margin: auto;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.lang-link{
    display: flex;
    writing-mode: vertical-rl;
    transform:scale(-1);
    width: 30%;
    align-items: flex-end;
}

.lang-link a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.ru-link{
    margin-bottom: 10px;
}

.en-link{
    margin-top: 10px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 30%;
}

.mu-photo{
    width: 30%;
    border-radius: 10px;
}

h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.job{
    font-weight: 400;
    margin-bottom: 20px;
}

img{
    max-width: 300px;
}

.about{
    background-color: #F6F6F6;
    padding: 120px 400px;
    text-align: center;
}

h2{
    margin-bottom: 20px;
    font-size: 34px;
}

.about p{
    margin-bottom: 40px;
    line-height: 25px;
    font-size: 18px;
}

.about p:last-child{
    margin-bottom: 0;
}

.skills-container{
    text-align: center;
    padding: 90px 0;
}

.skills__header{
    margin-bottom: 50px;
}

.scills__part{
    font-size: 18px;
}

.skill-box{
    display: flex;
    justify-content: space-around;
}

.skills-item{
    margin-top: 50px;
    min-width: 130px;
}

.programs-descr{
    margin-top: 15px;
}



