*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

nav{
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 30px;
    border-bottom: 2px solid rgb(87, 87, 87);
}

nav a{
    margin-left: 50px;
    padding: 10px 5px;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
}

nav a:hover{
    border-bottom: 2px solid rgb(83, 54, 54);
    transition-duration: .5s;
}

.container{
    padding-top: 20px;
    max-width: 1440px;
    margin: auto;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.hero-text{
    display: flex;
    flex-direction: column;
}

h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.job{
    font-weight: 400;
    margin-bottom: 20px;
}

img{
    max-width: 300px;
}

.about{
    background-color: rgb(206, 206, 206);
    padding: 50px;
    text-align: center;

}

h2{
    margin-bottom: 10px;
    font-size: 26px;
}

.about p{
    margin-bottom: 20px;
}

.about p:last-child{
    margin-bottom: 0;
}



